/*
       @font-face {
           font-family: 'NeoDunggeunmoPro-Regular';
           src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
           font-weight: normal;
           font-style: normal;
       }
       */
body {
    background-color: #F3F3F3;
    caret-color: transparent;
    /* 입력 커서 깜빡이는 거 없애기 */
}

.sortmotherdiv {
    margin: 0 auto;
    text-align: center;
}

/* 목록창 */

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100px;
}

select option {
    padding-right: 20px;
}

/* 검색창 */

.search-container {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    caret-color: black;
}

#searchButton {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #a0a0a0;
}

/* 분류창 */

.sortmethod {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.radio_select {
    padding: 10px 5px;
}
.radio_select input[type=radio]{
    display: none;
}
.radio_select input[type=radio] + span{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    border-radius: 10px 10px 10px 10px;
}

.radio_select .short_size + span{
    width: 40px;
}

.radio_select .long_size + span{
    width: 80px;
}

.radio_select input[type=radio] + span{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;
    color: #333;
}
.radio_select input[type=radio]:checked + span{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #333;
    color: #fff;
}

.radio_select input[type=radio]:not(:checked):hover + span {
    background-color: #a0a0a0;
}

/* radio type을 조금 더 깔끔하게 만들어준다. */

.pagination {
    justify-content: center;
}
/* Pagination 중앙 정렬 */

.fill {
    object-fit: fill;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.none {
    object-fit: none;
}

.scale-down {
    object-fit: scale-down;
}

/* 사진 */

a {
    text-decoration-line: none;
    /* 밑줄 없애기 */
}

a:link {
    color : black;
}
a:visited {
    color : black;
}
a:hover {
    color : black;
}
a:active {
    color : black;
}

#contents {
    width : 1200px;
    height: 2050px;
    margin: 0 auto;
}
/* 본 페이지에서는 적용안됨 */

.rankblock {
    height: 620px;
    width: 350px;
    display: inline-block;
    margin: 15px 25px 15px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    background-color: #FFFFFF;
}

.rankblock:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.rankblock .name {
    display: inline-block;
    text-align: left;
    width: 70%;
    height: 40px;
    line-height: 40px;
    font-size: 10pt;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.rankblock .date {
    display: inline-block;
    text-align: right;
    width: 30%;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    font-size: 10pt;
    color: #a0a0a0;
    overflow: hidden;
    box-sizing: border-box;
}

.rankblock .pic {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden; /* object-fit을 적용하기 위해 컨테이너를 숨김 처리 */
    border-top: lightgray 0.5px solid;
}

.rankblock .title {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 12pt;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: bold;
    border-bottom: lightgray 0.5px solid;
}

.rankblock .title:hover{
    background: whitesmoke;
}

.rankblock .contents {
    width: 100%;
    height: 190px;
    padding: 5px 10px 10px 10px;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-bottom: lightgray 0.5px solid;
    line-height: 1.4;

    /* div를 넘어가면 출력 제한 */
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.rankblock .contents:hover{
    background: whitesmoke;
}

.rankblock .tag {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 10pt;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-bottom: lightgray 0.5px solid;
    white-space: nowrap; /* 각 태그를 한 줄에 출력 */
}

.rankblock .tag a {
    margin-right: 5px; /* 각 태그 사이의 간격 조절 */
}

.rankblock .tag a::before {
    content: "#"; /* 각 태그 앞에 '#' 추가 */
}

.rankblock .likes:hover{
    background: whitesmoke;
}

.rankblock .tag a:link {
    color : dodgerblue;
}
.rankblock .tag a:visited {
    color : dodgerblue;
}
.rankblock .tag a:hover {
    color : dodgerblue;
    text-decoration-line: underline;
}
.rankblock .tag a:active {
    color : dodgerblue;
    text-decoration-line: underline;
}

.rankblock .likes {
    display: inline-block;
    text-align: left;
    width: 45%;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    line-height: 40px;
    box-sizing: border-box;
}

.rankblock .likes:hover{
    background: whitesmoke;
    cursor : pointer;
}

.rankblock .likes:active{
    background: lightgray;
}

.rankblock .likes img{
    height: 25px;
    width:  25px;
    margin-bottom: 8px;
    transition: opacity 0.5s;
}

.rankblock .likes img.hide{
    opacity: 0;
}

.rankblock .likes .liketext{
    margin-top: 30px;
    font-weight: bold;
}

.rankblock .view {
    display: inline-block;
    text-align: right;
    width: 50%;
    height: 40px;
    padding-right: 10px;
    line-height: 40px;
    box-sizing: border-box;
    cursor : default;
}