<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function() {

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        if ([[${userId}]] != null) {
            $('#btnLogout').click(() => {
                requestAjax('token', 'DELETE');
            });
        }
    });

    function requestAjax(resource, method) {
        $.ajax({
            url: '/api/v1/user/' + resource,
            type: method,
            headers: {
                'X-CSRF-TOKEN': $('input[name="_csrf"]').val(),
            },
            success: function (xhr, status, response) {
                if (status === 'success') {
                    alert('로그아웃 되었습니다.');
                    location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert('오류가 발생하였습니다. 나중에 다시 시도해주세요.');
            }
        });
    }
</script>