<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/user/login_signup.js}"></script>
    <style>
        @font-face {
            font-family: 'NeoDunggeunmoPro-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
        }
    </style>
    <title>NOWNESS</title>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card pb-3 pt-3" style="border-radius: 1rem; min-width: 400px; max-width: 450px">
            <div class="container mt-3">
                <form th:method="post"
                      th:id="${#ctx.springRequestContext.requestUri} == '/user/login' ? 'loginForm' : 'signupForm'"
                      th:action="${#ctx.springRequestContext.requestUri} == '/user/login' ? '/authenticate' : '/user/signup'">
                <div class="row">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com"
                               name="email"
                               aria-describedby="emailValidationFeedback" required>
                        <label for="floatingEmail">이메일주소</label>
                        <div id="emailValidationFeedback" class="invalid-feedback"></div>
                    </div>
                    <div th:if="${#ctx.springRequestContext.requestUri} == '/user/signup'" class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingNickname" placeholder="exampleNickname"
                               name="nickname"
                               aria-describedby="nicknameValidationFeedback" required>
                        <label for="floatingNickname">닉네임</label>
                        <div id="nicknameValidationFeedback" class="invalid-feedback"></div>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="비밀번호"
                               name="password"
                               aria-describedby="passwordValidationFeedback" required>
                        <label for="floatingPassword">비밀번호</label>
                        <div id="passwordValidationFeedback" class="invalid-feedback">
                            비밀번호를 확인해주세요.
                        </div>
                    </div>
                    <div th:if="${#ctx.springRequestContext.requestUri} == '/user/signup'" class="form-floating mt-3 mb-3">
                        <input type="password" class="form-control" id="floatingPasswordCheck" placeholder="비밀번호 확인"
                               aria-describedby="passwordCheckValidationFeedback" required>
                        <label for="floatingPasswordCheck">비밀번호 재확인</label>
                        <div id="passwordCheckValidationFeedback" class="invalid-feedback">
                            입력하신 비밀번호와 일치하지 않습니다.
                        </div>
                    </div>
                </div>
                <div th:if="${#ctx.springRequestContext.requestUri} == '/user/login'" class="row justify-content-between flex-nowrap">
                    <div class="form-check col-5 m-3 text-start">
                        <input class="form-check-input" type="checkbox" name="remember-me" id="remember-me">
                        <label class="form-check-label text-nowrap text-secondary" for="remember-me">
                            로그인 상태 유지
                        </label>
                    </div>
                    <div class="col-5 m-3 text-end">
                        <a th:href="@{/user/find-password}" class="link-dark text-nowrap">비밀번호 찾기</a>
                    </div>
                </div>
                <div class="row">
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary p-3" type="submit" disabled
                               th:id="btnSubmit"
                               th:value="${#ctx.springRequestContext.requestUri} == '/user/login' ? '로그인' : '회원가입'"/>
                    </div>
                </div>
                </form>
                <div th:if="${#ctx.springRequestContext.requestUri} == '/user/login'" class="row text-center m-2">
                    <p>계정을 만드시려면?&nbsp;<a th:href="@{/user/signup}" class="link-primary text-nowrap">회원가입</a></p>
                </div>
                <div  th:if="${#ctx.springRequestContext.requestUri} == '/user/signup'" class="row m-3 text-center">
                    <a th:href="@{/user/login}" class="link-dark text-nowrap">로그인 화면으로 돌아가기</a>
                </div>
                <div class="row m-4 mb-0 mt-0">
                    <hr>
                </div>
                <div class="row m-2">
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-block p-3 mb-3 card text-start">
                        <div class="row">
                            <div class="col-1">
                                <img th:src="@{/images/login/icon_google.svg}" style="width: 24px;" alt="구글 아이콘">
                            </div>
                            <div class="col-11">
                                <span class="p-1">구글 계정으로 로그인</span>
                            </div>
                        </div>
                    </a>
                    <a th:href="@{/oauth2/authorization/kakao}" class="btn btn-block p-3 mb-3 card text-start">
                        <div class="row">
                            <div class="col-1">
                                <img th:src="@{/images/login/icon_kakao.svg}" style="width: 24px" alt="카카오 아이콘">
                            </div>
                            <div class="col-11">
                                <span class="p-1">카카오 계정으로 로그인</span>
                            </div>
                        </div>
                    </a>
                    <a th:href="@{/oauth2/authorization/naver}" class="btn btn-block p-3 card text-start">
                        <div class="row">
                            <div class="col-1">
                                <img th:src="@{/images/login/icon_naver.svg}" style="width: 24px" alt="네이버 아이콘">
                            </div>
                            <div class="col-11">
                                <span class="p-1">네이버 계정으로 로그인</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div th:insert="~{footer :: footer}"></div>-->
</body>
</html>
