<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NOWNESS</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main/main.css}" rel="stylesheet">
    <link th:href="@{/css/main/map.css}" rel="stylesheet">
    <link th:href="@{/css/main/chat.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:200px; background: linear-gradient(to right, #FAFF36, white);"
             data-bs-interval="2500">
            <div class="d-flex align-items-center justify-content-center" style="height:100%;">
                <div class="text-center d-flex flex-column">
                    <h2 style="color: black; margin-bottom:20px;">요즘 뜨는 핫플레이스는?</h2>
                    <a href="/rankboard"
                       style="font-size:22px; text-decoration:none; color:black; padding: 7px 3px; border:3px solid black; font-weight: bold">확인하기</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height:200px; background: linear-gradient(to right, white, #00D2FF);"
             data-bs-interval="2500">
            <div class="d-flex align-items-center justify-content-center" style="height:100%;">
                <div class="text-center d-flex flex-column">
                    <h2 style="color: black; margin-bottom:20px;">현재 그 곳은 어떤가요?</h2>
                    <a href="/report/board"
                       style="font-size:22px; text-decoration:none; color:black; padding: 7px 3px; border:3px solid black; font-weight: bold">공유하기</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height:200px; background: linear-gradient(to right, #00D2FF, white, #FAFF36);"
             data-bs-interval="2500">
            <div class="d-flex align-items-center justify-content-center" style="height:100%;">
                <div class="text-center d-flex flex-column">
                    <h2 style="color: black; margin-bottom:20px;">필요한 정보가 없으신가요?</h2>
                    <a href="/request/list"
                       style="font-size:22px; text-decoration:none; color:black; padding: 7px 3px; border:3px solid black; font-weight: bold">요청하기</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>


<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <div class="horizontal-layout">
        <div class="map_wrap">
            <!-- 지도 영역 -->
            <div id="map" style="height:100%;">
                <div class="routeButton" onclick="generateRouteURLByPlaceID(18577297)">길찾기</div>
            </div>

            <div id="menu_wrap" class="bg_white">
                <!-- 메뉴 영역 -->
                <div class="option">
                    <div>
                        <form id="searchForm">
                            <input type="text" id="keyword" required>
                            <button type="submit">검색</button>
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>

        <div class="chat-container">
            <!-- 채팅창 영역 -->
            <ul class="chat-message-list" id="messageArea">
            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <!-- 사용자 이름 입력 필드 추가 -->
                        <input type="text" id="username" placeholder="이름" autocomplete="off" class="form-control">
                        <!-- 메시지 입력 필드 -->
                        <input type="text" id="message" placeholder="메시지" autocomplete="off" class="form-control">
                        <button type="submit" class="primary">전송</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:text="${tourApiResult}"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main/chat.js}"></script>
<script th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=2c6f332b6c158e54b8050e3a29fa2a2d&libraries=services,clusterer,drawing}"
        type="text/javascript"></script>
<script th:src="@{js/main/map.js}"></script>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>
