<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/rankboard/rankboard.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>NOWNESS</title>
</head>
<body>
<div id="contents">
    <div class="rankblock">
        <div class = "name">이름</div><div class = "date">날짜</div>
        <div class = "title">제목</div>
        <div class = "pic">그림</div>
        <div class = "contents">내용</div>
        <div class = "tag">태그</div>
        <div class = "likes">좋아요 수</div><div class = "view">조회수</div>
    </div>
</div>
</body>
</html>
