<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <style>
        body * {
            text-overflow: ellipsis; overflow: hidden; white-space:nowrap;
        }
    </style>
    <title>NOWNESS</title>
</head>
<body>
<th:block th:insert="~{header :: header}"></th:block>
<div class="container mt-5">
    <div class="row justify-content-between">
        <aside class="col-lg-3">
            <div class="card container mb-2 pb-2 pt-2">

                <div class="row mt-3 justify-content-center">
                    <h4 id="nickname" class="text-center" th:text="${nickname}">nickname</h4>
                    <p id="email" class="text-center" th:text="${email}">example@example.com</p>
                </div>

                <div class="row m-4 mb-0 mt-0"><hr></div>

                <div class="row justify-content-start">
                    <h5 class="text-center pb-2">계정 관리 메뉴</h5>
                    <th:block th:unless="${verifiedUser}">
                    <button id="btnVerifyMailSend" class="btn-secondary btn-warning text-dark container-fluid mb-2 p-3 pt-1 pb-1 pt-0"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="아직 인증되지 않았어요!">인증 이메일 재발송</button>
                    <button id="btnEmailSendingMessage" class="btn-secondary btn-warning text-dark container-fluid mb-2 p-3 pt-1 pb-1 pt-0"
                            style="display: none"
                            type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        이메일 발송 중...
                    </button>
                    </th:block>
                    <button id="btnChangeNickname" class="btn-outline-secondary text-dark container-fluid mb-2 p-3 pt-1 pb-1 pt-0"
                       data-bs-toggle="modal" data-bs-target="#modal" th:attr="data-bs-whatever=${nickname}">닉네임 변경</button>
                    <button id="btnChangePassword" class="btn-outline-secondary text-dark container-fluid mb-2 p-3 pt-1 pb-1 pt-0"
                            data-bs-toggle="modal" data-bs-target="#modal" data-bs-whatever="password-change">비밀번호 변경</button>
                    <button class="btn-outline-secondary text-dark container-fluid p-3 pt-1 pb-1 pt-0">회원 탈퇴</button>

                    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modalLabel"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <div id="nicknameForm" type="hidden">
                                                <label for="nicknameInput" class="col-form-label">변경할 닉네임</label>
                                                <input type="text" class="form-control" id="nicknameInput" name="nickname"
                                                       aria-describedby="nicknameValidationFeedback">
                                                <div id="nicknameValidationFeedback" class="invalid-feedback"
                                                     style="text-overflow: initial; overflow: visible; white-space: initial;"></div>
                                            </div>
                                            <div id="passwordForm">
                                                <label for="passwordInput" class="col-form-label">변경할 비밀번호</label>
                                                <input type="password" class="form-control" id="passwordInput" name="password"
                                                       aria-describedby="passwordValidationFeedback">
                                                <div id="passwordValidationFeedback" class="invalid-feedback"
                                                style="text-overflow: initial; overflow: visible; white-space: initial;">
                                                    영문자, 숫자, 특수문자 조합으로 8글자 이상 작성하여야 합니다.
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    <button id="btnChangeRequest" type="button" class="btn btn-primary" disabled>변경요청</button>
                                    <button id="btnChangingInfoMessage" class="btn btn-primary"
                                            style="display: none" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        변경 중...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="col-lg-9">
            <div class="card container mb-2">
                <div class="row mt-3 justify-content-center">
                    <h4>최근 작성 글</h4>
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 75%">
                            <col style="width: 20%">
                        </colgroup>
                        <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성일시</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr class="text-center" th:each="content, c : ${contents}" th:object="${content}">
                            <th scope="row">[[${c.count}]]</th>
                            <td><a th:href="|/request/post/${content.get('contentsId')}|" class="text-dark" th:text="${content.get('contents')}">내용</a></td>
                            <td th:text="${#strings.replace(content.get('datetime'), 'T', ' ')}">날짜</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card container">
                <div class="row mt-3 justify-content-center">
                    <h4>최근 작성 댓글</h4>
                    <table class="table table-hover">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 75%">
                            <col style="width: 20%">
                        </colgroup>
                        <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성일시</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr class="text-center" th:each="reply, r : ${replies}" th:object="${reply}">
                            <th scope="row">[[${r.count}]]</th>
                            <td><a th:href="|/request/post/${reply.get('contentsId')}|" class="text-dark" th:text="${reply.get('contents')}">내용</a></td>
                            <td th:text="${#strings.replace(reply.get('datetime'), 'T', ' ')}">날짜</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:insert="~{footer :: footer}"></div>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<script th:src="@{/js/user/mypage.js}"></script>
</body>
</html>
