<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/rankboard/rankboard.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>NOWNESS</title>
    <script>
        function dataSend() {
            var SearchTime =$('input[name=serachtime]:checked').val();
            var SortMethod =$('input[name=sortmethod]:checked').val();

            console.log(SearchTime);
            console.log(SortMethod);

            $.ajax({
                url:"/dataSend",
                data: {ST:SearchTime, SM:SortMethod},
                type:"POST",
            })
                .done(function (result) {
                    //console.log(result);
                    $("#contents").replaceWith(result);
            })
                .fail(function(result) {
                    //console.log(result);
                    console.log("값 전송을 실패했습니다.");
            });
        };

        function likeclick(element) {
            var likesValue = element.getAttribute('value');
            var likestextElement = element.querySelector(".liketext")
            var imageElement = element.querySelector(".image")

            // span 요소의 텍스트 값을 정수로 변환하여 사용합니다.
            var likestext = parseInt(likestextElement.textContent);

            console.log(likestext);

            if(likesValue == "like") {
                element.setAttribute('value', "unlike");
                likestextElement.textContent = likestext - 1;
                imageElement.src = '/css/image/rankboard/unlike.jpg';
            }
            if(likesValue == "unlike") {
                element.setAttribute('value', "like");
                likestextElement.textContent = likestext + 1;
                imageElement.src = '/css/image/rankboard/like.jpg';
            }
        }
    </script>
</head>
<body>

<!-- <div th:insert="~{header :: header}"></div> -->

<div class = "sortmotherdiv">
    <div class="sortmethod">
        최신순으로 보기
        <label class="radio_select">
            <input type="radio" name="serachtime" value="day" class="short_size" onclick="dataSend()"/><span>일</span>
        </label>

        <label class="radio_select">
            <input type="radio" name="serachtime" value="week" class="short_size" onclick="dataSend()"/><span>주</span>
        </label>

        <label class="radio_select">
            <input type="radio" name="serachtime" value="month" class="short_size" onclick="dataSend()"/><span>월</span>
        </label>

        <label class="radio_select">
            <input type="radio" name="serachtime" value="year" class="short_size" checked onclick="dataSend()"/><span>년</span>
        </label>
    </div>
    <div class="sortmethod">
        정렬 방법(내림차순)
        <label class="radio_select">
            <input type="radio" name="sortmethod" value="likeCount" class="long_size" checked onclick="dataSend()"/><span>좋아요 순</span>
        </label>

        <label class="radio_select">
            <input type="radio" name="sortmethod" value="viewCount" class="long_size" onclick="dataSend()"/><span>조회수 순</span>
        </label>
    </div>

    <div class="sortmethod">
        <select name="selectsort">
            <option value="글쓴이">글쓴이</option>
            <option value="제목">제목</option>
            <option value="내용" selected="selected">내용</option>
            <option value="태그">태그</option>
        </select>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="검색어를 입력하세요...">
            <button id="searchButton" onclick="search()">검색</button>
        </div>
    </div>

    <div class="sortmethod">
        <label class="radio_select">
            <input type="checkbox" name="findlike" value="unfindlike" class="long_size" checked onclick="dataSend()"/><span>좋아요 누른 글만 확인하기</span>
        </label>
    </div>

</div>

<hr>

<div id="contents">

    <div class="rankblock" th:each="rank: ${RankList}">
        <div class = "name"><span th:text="${ rank.nickname }"></span></div><div class = "date"><span th:text="${ rank.daycount }"></span></div>
        <div class = "pic">
            <img src="@{/css/image/rankboard/testimg.jpg}" rel="stylesheet" alt="이미지" style="width:100%; height:100%;"/> <!-- 테스트용! -->
        </div>
        <div class = "title"><a th:href="@{/request/post/{id}(id=${rank.id})}" th:text="${rank.title}"></a></div>
        <div class = "contents"><a th:href="@{/request/post/{id}(id=${rank.id})}" th:text="${rank.contents}"></a></div>
        <div class = "tag">태그</div>
        <div class = "likes" value = "unlike" onclick="likeclick(this)">
            <img th:src="@{/css/image/rankboard/unlike.jpg}" alt = "Like/Unlike" class="image">&nbsp;&nbsp;<span class="liketext" th:text="${ rank.likeCount }"></span></div>
        <div class = "view">조회수 <span th:text="${ rank.views }"></span>회</div>
    </div>


    <br><br>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="page:${#numbers.sequence(RankStartPage, RankEndPage)}" th:classappend="${page == RankNowPage} ? 'active' : ''">
                <a class="page-link" th:if="${page != RankNowPage}" th:href="@{/rankboard(page=${page})}" th:text="${page}"></a>
                <a class="page-link" th:if="${page == RankNowPage}" th:text="${page}"></a>
            </li>
        </ul>
    </nav>
    <br><br>
</div>

<!-- <div th:insert="~{footer :: footer}"></div> -->

</body>
</html>
