<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>reportboard</title>
    <link th:href="@{/css/reportboard.css}" rel="stylesheet">
</head>
<body>
<div>
    <div class="main-wrapper">
        <div class="board_wrap">
            <div class="board-title-searchbar-wrapper">
                <div class="board_title">
                    <strong>제보요청</strong>
                </div>
            </div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">작성자</div>
                        <div class="date">등록일</div>
                        <div class="count">조회</div>
                    </div>

                    <div th:each="post : ${posts}">
                        <!-- 제목을 클릭하면 상세 페이지로 이동 -->
                        <div class="num" th:text="${post.id}"></div>
                        <div class="title">
                            <a th:href="@{'/report/board/' + ${post.id}}" th:text="${post.title}"></a>
                        </div>
                        <div class="writer">작성자1</div>
                        <div class="date" th:text="${#temporals.format(post.createddatetime, 'yyyy.MM.dd')}"></div>
                        <div class="count" th:text="${post.views}"></div>
                    </div>

                </div>

            </div>
            <div class="bt_wrap">
                <a href="writer" class="on">글쓰기</a>
            </div>
            <div class="search">
                <form th:action="@{/report/board/search}" method="get">
                    <input type="text" placeholder="검색어 입력" name="searchTitle">
                    <button type="submit"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                </form>

            </div>

            <div class="page_wrap">
                <div class="page_nation">
                    <a class="arrow pprev" th:href="@{/report/board(page=1)}">처음</a>
                    <!-- 이전 페이지로 이동 버튼 -->
                    <a class="arrow prev" th:href="@{/report/board(page=${currentPage - 1})}" th:if="${currentPage > 1}">이전</a>

                    <!-- 페이지 번호 출력 -->
                    <a th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                       th:href="@{/report/board(page=${pageNum})}"
                       th:class="${pageNum == currentPage ? 'active' : ''}"
                       th:text="${pageNum}"></a>

                    <!-- 다음 페이지로 이동 버튼 -->
                    <a class="arrow next" th:href="@{/report/board(page=${currentPage + 1})}" th:if="${currentPage < totalPages}">다음</a>
                    <a class="arrow nnext" th:href="@{/report/board(page=${totalPages})}">끝</a>

                </div>
            </div>

        </div>
    </div>
    <footer>
        <p>푸터</p>
    </footer>
</div>
</body>
</html>