<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>post</title>
  <link th:href="@{/css/reportpost.css}" rel="stylesheet">

</head>
<body>
<div>
  <div class="main-wrapper">
    <div class="view_body_wrap">
      <div class="board_title">
        <div class="back-to-board-wrapper" onclick="history.back()">
          <h1>제보요청</h1>
        </div>
      </div>
      <main class="main">
        <div class="board_view_wrap">
          <div class="board_view">
            <!-- 게시글 제목 출력 -->
            <div class="title" th:text="${post.title}"></div>
            <div class="info2">
              <div class="info2_left">
                <dl>
                  <!-- 작성자 정보 출력 -->
                  <dt>작성자: 김한강</dt>
                </dl>
              </div>
              <div class="info2_right">
                <dl>
                  <!-- 작성일자 출력 -->
                  <dt>작성일: <span th:text="${#temporals.format(post.createddatetime, 'yyyy.MM.dd')}"></span></dt>
                </dl>
                <dl>
                  <!-- 조회수 출력 -->
                  <dt>조회: <span th:text="${post.views}"></span></dt>
                </dl>
              </div>
            </div>
            <!-- 게시글 내용 출력 -->
            <div class="cont" th:text="${post.contents}"></div>
          </div>
        </div>
        <div class="post-actions">
        </div>
        <div class="post-actions">
          <a th:href="@{'/report/board/' + ${post.id}/edit}">수정</a>
        </div>
      </main>

      <!-- 댓글 -->
      <div class="comment_header_bar">
        <h3>댓글</h3>
      </div>
    </div>
  </div>
</div>

</body>
</html>