<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NOWNESS</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/requestboard/requestmodifypost.css}">
    <link rel="stylesheet" th:href="@{/css/summernote/summernote-lite.css}">
    <link rel="stylesheet" href="https://unpkg.com/@yaireo/tagify/dist/tagify.css">
    <style>
        #existingFilesContainer{
            background-color: red;
        }
    </style>
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div class="post-header-wrapper">

    <!-- 현재 기입항목 :  userId, String contents, String title, int boardType, int locale, int subcategory-->
    <!--                이미지, 해시태그, 멀티미디어항목추가해야함.-->


    <div class="board_title">
        <div class="board_title2">게시글 수정</div>
    </div>

    <div class="board_view_wrap">
        <div class="board_view">


            <form action="/request/updatepost" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userId"  th:value="${userId}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                <input type="hidden" name="id"  th:value="${modifypost.id}">


                게시판을 선택하세요.
                <select name="boardType" id="boardType">
                    <option value="1" th:selected="${modifypost.boardType == 1}">공유</option>
                    <option value="2" th:selected="${modifypost.boardType == 2}">요청</option>
                </select>

                지역
                <select name="locale" id="locale">
                    <option value="1" th:selected="${modifypost.locale == 1}">서울</option>
                    <option value="2" th:selected="${modifypost.locale == 2}">경기</option>
                    <option value="3" th:selected="${modifypost.locale == 3}">인천</option>
                    <option value="4" th:selected="${modifypost.locale == 4}">부산</option>
                    <option value="5" th:selected="${modifypost.locale == 5}">광주</option>
                    <option value="6" th:selected="${modifypost.locale == 6}">대구</option>
                    <option value="7" th:selected="${modifypost.locale == 7}">대전</option>
                    <option value="8" th:selected="${modifypost.locale == 8}">울산</option>
                    <option value="9" th:selected="${modifypost.locale == 9}">제주</option>
                    <option value="10" th:selected="${modifypost.locale == 10}">경상</option>
                    <option value="11" th:selected="${modifypost.locale == 11}">전라</option>
                    <option value="12" th:selected="${modifypost.locale == 12}">충청</option>

                </select>

                분류
                <select name="subcategory" id="subcategory">
                    <option value="1" th:selected="${modifypost.subcategory == 1}">혼잡도</option>
                    <option value="2" th:selected="${modifypost.subcategory == 2}">교통</option>
                    <option value="3" th:selected="${modifypost.subcategory == 3}">날씨</option>
                    <option value="4" th:selected="${modifypost.subcategory == 4}">주변</option>
                    <option value="5" th:selected="${modifypost.subcategory == 5}">사건사고</option>
                    <option value="6" th:selected="${modifypost.subcategory == 6}">행사</option>
                </select>

                <div id="postTitle2">
                    <input type="text" placeholder="제목을 입력해주세요." id="postTitle" name="title" required th:value="${modifypost.title}">
                </div>


                <div id="tagContainer">
                    해시태그 (최대 5개)
                    <input placeholder="#해시태그" name="hashtags" id="tagInput" type="hidden">
                </div>
                <div id="warningMessage" style="display: none; color: red;">
                    5개를 초과한 태그를 입력할 수 없습니다.(최대 5개)
                </div>

                <hr>

                <!--썸머노트-->
                <div>
                    <textarea id="summernote" name="contents"></textarea>
                    <!--            <textarea id="summernote" name="contents" th:text="${modifypost.contents}"></textarea>-->
                    <p id="warningMessage2" style="color: red;"></p>
                </div>


                <!--기존파일 히든-->
                <div id="existingFilesContainer">
                </div>
                <div id="file_count" th:each="existingFile : ${existingFiles}">
                    <input type="hidden" name="existingSavenames" th:value="${existingFile.saveName}">
                </div>


                <!--파일 업로드-->
                <hr>
                파일을 첨부하세요 (최대 5개):
                <input type="file" name="files" id="fileInput" multiple>
                <div id="selectedFiles"></div>

                <button type="submit" id="submitButton">등록</button>

            </form>


            <!--                작성자id확인용-->
            <!--                <span th:text="${user.id}"></span>-->
            <!--     <span th:text="${tagslist}"></span>-->


        </div>
    </div>
</div>

<div th:insert="~{footer :: footer}"></div>

<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>




<script th:inline="javascript">
    $(document).ready(function() {

        var tagslist = /*[[${tagslist}]]*/ [];
        var existingTags = tagslist.map(function(tagObj) {
            return tagObj.tag;
        });


        //$여러번안쓰게 정의미리해둠.
        const summernote = $('#summernote');

        summernote.summernote({
            // 에디터 높이
            height: 300,
            // 에디터 한글 설정
            lang: "ko-KR",
            // 에디터에 커서 이동 (input창의 autofocus라고 생각)
            focus : true,
            toolbar: [
                // 글꼴 설정
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                // 글자색
                ['color', ['forecolor','color']],
                // 표만들기
                ['table', ['table']],
                // 글머리 기호, 번호매기기, 문단정렬
                ['para', ['ul', 'ol', 'paragraph']],
                // 줄간격
                ['height', ['height']],
                // 그림첨부, 링크만들기, 동영상첨부
                ['insert',['picture','link','video']],
                // 코드보기, 확대해서보기, 도움말
                ['view', ['codeview','fullscreen', 'help']]
            ],
            // 추가한 글꼴
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            // 추가한 폰트사이즈
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            ,

            minHeight: null,             // 최소 높이
            maxHeight: null,             // 최대 높이

            placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
        });

        summernote.summernote('code', '써머노트에 쓸 텍스트');

        // 서머노트 쓰기 비활성화
        summernote.summernote('disable');

        // 서머노트 쓰기 활성화
        summernote.summernote('enable');

        // 서머노트 리셋
        summernote.summernote('reset');

        // 마지막으로 한 행동 취소 ( 뒤로가기 )
        summernote.summernote('undo');
        // 앞으로가기
        summernote.summernote('redo');


        var markupStr =  [[${modifypost.contents}]];
        summernote.summernote('code', markupStr);


        // 썸머노트 용량 체크
        var contentSizeInMB;

        function checkContentSize() {
            var content = $('#summernote').summernote('code');
            var contentSizeInBytes = new Blob([content]).size; // Convert to bytes

            // Convert bytes to megabytes
            contentSizeInMB = contentSizeInBytes / (1024 * 1024);

            if (contentSizeInMB > 1.5) {
                $('#warningMessage2').text('제한 용량 1.5MB를 초과했습니다.');
            } else {
                $('#warningMessage2').text('');
            }
        }




        // 해시태그-수정용
        var input = document.getElementById('tagInput');
        var tagify = new Tagify(input);
        tagify.addTags(existingTags.map(tag => ({ value: tag })));


        tagify.DOM.input.addEventListener('keydown', function(event) {
            if (event.key === ' ') {
                event.preventDefault();
            }
        });


        // 태그 입력 5개 제한
        tagify.on('input', function(e) {
            var tags = tagify.value.map(tag => tag.value);
            if (tags.length > 4) {
                tagify.settings.mode = 'mix';
                tagify.DOM.input.blur();

                document.getElementById('warningMessage').style.display = 'block';
            } else {
                tagify.settings.mode = 'input';
                document.getElementById('warningMessage').style.display = 'none';
            }
        });

        tagify.on('keydown', function(e) {
            var tags = tagify.value.map(tag => tag.value);
            if (tags.length > 4) {
                e.preventDefault();
            }
        });

        tagify.on('focus', function(e) {
            var tags = tagify.value.map(tag => tag.value);
            if (tags.length > 4) {
                tagify.DOM.input.blur();
            }
        });


        //파일관련

        function displayExistingFiles(existingFiles) {
            const container = document.getElementById('existingFilesContainer');
            container.innerHTML = '';

            existingFiles.forEach(file => {
                const fileDiv = document.createElement('div');

                const fileInfo = document.createElement('span');
                fileInfo.textContent = file.orginName;
                fileDiv.appendChild(fileInfo);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = '삭제';
                fileDiv.appendChild(deleteButton);
                // //추가2
                // fileDiv.classList.add('appendimg');

                container.appendChild(fileDiv);


                deleteButton.addEventListener('click', () => {
                    deleteExistingFile(file.saveName);
                    container.removeChild(fileDiv);
                });
            });
        }
        function deleteExistingFile(saveName) {
            selectedFiles = selectedFiles.filter(file => file.saveName !== saveName);
            displaySelectedFiles(selectedFiles);

            const inputField = document.querySelector(`input[name="existingSavenames"][value="${saveName}"]`);
            if (inputField) {
                inputField.remove();
            }
        }




        //파일 미리보기 기능.
        function displaySelectedFiles(files) {
            const selectedFilesDiv = document.getElementById('selectedFiles');
            selectedFilesDiv.innerHTML = '';

            files.forEach((file, index) => {
                const fileDiv = document.createElement('div');
                //추가3
                fileDiv.classList.add('appendimg');
                const fileName = file.name;

                const deleteButton = document.createElement('button');
                deleteButton.textContent = '삭제';


                //삭제버튼 클릭하면클릭이벤트.
                deleteButton.addEventListener('click', () => {
                    const index = existingFiles.findIndex((existingFile) => existingFile.saveName === file.saveName);

                    if (index !== -1) {
                        existingFiles.splice(index, 1);

                        displaySelectedFiles(existingFiles);

                        deleteExistingFile(file.saveName);

                        container.removeChild(fileDiv);
                    }
                });


                fileDiv.textContent = fileName;
                if(file.orginName!=null){
                    fileDiv.textContent =file.orginName;
                }
                fileDiv.appendChild(deleteButton);


                if (file.type && file.type.indexOf('image/') === 0) {
                    const img = document.createElement('img');
                    img.src = URL.createObjectURL(file);
                    img.width = 100;
                    fileDiv.appendChild(img);
                    //추가
                    fileDiv.classList.add('appendimg');
                }

                selectedFilesDiv.appendChild(fileDiv);
            });
        }//displaySelectedFiles- end


        const existingFiles = /*[[${existingFiles}]]*/ [];//기존파일.
        displayExistingFiles(/*[[${existingFiles}]]*/);

        //인풋에 이벤트 리스너 추가. 인풋수정.
        const fileInput = document.getElementById('fileInput');//파일첨부자리.

        let selectedFiles = /*[[${existingFiles}]]*/ [];

        displaySelectedFiles(selectedFiles);

        fileInput.addEventListener('change', () => {
            const files = fileInput.files;
            const totalSelectedFiles = selectedFiles.length + files.length;

            if (totalSelectedFiles > 5) {
                alert('파일은 5개까지 첨부가 가능합니다.');
                fileInput.value = ''; // Reset file input
                return;
            }

            for (let i = 0; i < files.length; i++) {
                selectedFiles.push(files[i]);
            }

            displaySelectedFiles(selectedFiles);
        });


        //submit
        $('#submitButton').on('click', function(event) {
            event.preventDefault();

            //빈칸체크
            var tagInput = document.getElementById("postTitle");
            var contentckeck = $('#summernote').summernote('code');
            var checktitle = tagInput.value;

            if (checktitle === ""||contentckeck=="<p><br></p>") {
                alert("빈 칸을 입력해 주세요.");
            }else {

                const files = fileInput.files;
                let totalFileSize = 0;

                // 전체 크기 계산
                for (let i = 0; i < files.length; i++) {
                    totalFileSize += files[i].size;
                }

                // 전체 크기 체크.
                const maxSize = 5 * 1024 * 1024; // 5 MB in bytes
                if (totalFileSize > maxSize) {
                    alert('파일의 크기가 제한 크기를 넘었습니다. 파일 전체 총 합이 5MB까지 첨부가 가능합니다.');
                    return;
                }

                //썸머노트 용량 체크 후 1.5mb이하만 등록 가능.
                checkContentSize();
                console.log(contentSizeInMB);

                if (contentSizeInMB > 1.5) {
                    return;
                }

                input.value = tagify.value.map(tag => tag.value).join(',');//해시태그용

                //사이즈제한 맞으면 버튼동작.
                $('form').submit();
            }
        });

    });
</script>
<script th:src="@{/js/summernote/summernote-lite.js}"></script>
<script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>


</body>
</html>
