<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
    <meta charset="UTF-8">
    <title>NOWNESS</title>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/summernote/summernote-lite.css}">
</head>
<body>
<div th:insert="~{header :: header}"></div>

<div class="post-header-wrapper">

    <!-- 현재 기입항목 :  userId, String contents, String title, int boardType, int locale, int subcategory-->
    <!--                필수 추가할것 :★★ 보드게시판에서 글쓰기누를때마다 기본옵션 변경할것-->
    <!--                이미지, 해시태그, 멀티미디어항목추가해야함.-->



    <form action="/request/writer" method="post">
        <input type="hidden" name="userId"  th:value="${userId}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">

        게시판을 선택하세요(공유/요청)
        <select name="boardType" id="boardType">
            <option value="1">공유</option>
            <option value="2">요청</option>
        </select>

        <hr>

        지역을 선택하세요
        <select name="locale" id="locale">
            <option value="1">서울</option>
            <option value="2">경기</option>
            <option value="3">인천</option>
            <option value="4">부산</option>
            <option value="5">광주</option>
            <option value="6">대구</option>
            <option value="7">대전</option>
            <option value="8">울산</option>
            <option value="9">제주</option>
            <option value="10">경상</option>
            <option value="11">전라</option>
            <option value="12">충청</option>

        </select>

        <hr>
        분류를 선택하세요.
        <select name="subcategory" id="subcategory">
            <option value="1">혼잡도</option>
            <option value="2">교통</option>
            <option value="3">날씨</option>
            <option value="4">주변</option>
            <option value="5">사건사고</option>
            <option value="6">행사</option>

        </select>

        <input type="text" placeholder="제목을 입력해주세요." id="postTitle" name="title"  required/>


        <!--썸머노트-->
        <div>
            <textarea id="summernote" name="contents"></textarea>
        </div>


        <button type="submit" id="submitButton">등록</button>

    </form>


    <!--                작성자id확인용-->
    <!--                <span th:text="${user.id}"></span>-->



    <div th:insert="~{footer :: footer}"></div>
</div>
<script>
    $(document).ready(function() {
        const summernote = $('#summernote');
        summernote.summernote({
            // 에디터 높이
            height: 300,
            // 에디터 한글 설정
            lang: "ko-KR",
            // 에디터에 커서 이동 (input창의 autofocus라고 생각)
            focus : true,
            toolbar: [
                // 글꼴 설정
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                // 글자색
                ['color', ['forecolor','color']],
                // 표만들기
                ['table', ['table']],
                // 글머리 기호, 번호매기기, 문단정렬
                ['para', ['ul', 'ol', 'paragraph']],
                // 줄간격
                ['height', ['height']],
                // 코드보기, 확대해서보기, 도움말
                ['view', ['codeview','fullscreen', 'help']]
            ],
            // 추가한 글꼴
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            // 추가한 폰트사이즈
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            ,

            minHeight: null,             // 최소 높이
            maxHeight: null,             // 최대 높이

            placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
        });

        summernote.summernote('code', '써머노트에 쓸 텍스트');

        // 서머노트 쓰기 비활성화
        summernote.summernote('disable');

        // 서머노트 쓰기 활성화
        summernote.summernote('enable');


        // 서머노트 리셋
        summernote.summernote('reset');


        // 마지막으로 한 행동 취소 ( 뒤로가기 )
        summernote.summernote('undo');
        // 앞으로가기
        summernote.summernote('redo');
    });

</script>
<script th:src="@{/js/summernote/summernote-lite.js}"></script>
<script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>



</body>
</html>
