<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ko">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/js/jquery-3.7.0.min.js}"></script>
  <script th:src="@{/js/user/reset_password.js}"></script>
  <title>NOWNESS</title>
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="card pb-3 pt-3" style="border-radius: 1rem; min-width: 400px; max-width: 450px; text-align: center">
      <div class="container mt-3 mb-3">
        <div class="row">
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="새로운 비밀번호"
                   name="password"
                   aria-describedby="passwordValidationFeedback" required>
            <label for="floatingPassword">새로운 비밀번호</label>
            <div id="passwordValidationFeedback" class="invalid-feedback">
              비밀번호를 확인해주세요.
            </div>
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="password" class="form-control" id="floatingPasswordCheck" placeholder="비밀번호 확인"
                   aria-describedby="passwordCheckValidationFeedback" required>
            <label for="floatingPasswordCheck">비밀번호 재확인</label>
            <div id="passwordCheckValidationFeedback" class="invalid-feedback">
              입력하신 비밀번호와 일치하지 않습니다.
            </div>
          </div>
        </div>
        <input id="csrf" type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div class="row justify-content-center">
          <div class="d-grid gap-2">
            <button class="btn btn-primary p-3" type="button" id="btnSubmit" disabled>비밀번호 재설정하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div th:insert="~{footer :: footer}"></div>-->
</body>
</html>
