@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
}

.user-link {
    font-size: 15px;
}

.board-link {
    font-size: 25px;
}

.logo-position {
    margin-right: 0px;
}

.horizontal-layout {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .map_wrap, .chat-container {
        max-width: 100%;
    }
}