body {
    font-family: 'NeoDunggeunmoPro-Regular', sans-serif;
}

.user-link {
    font-size: 15px;
}

.board-link {
    font-size: 25px;
}

.logo-position {
    margin-right: 0;
}

.horizontal-layout {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
}

.map_wrap {
    flex: 7;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.chat-container {
    flex: 3;
    height: 500px;
    border: 1px solid #ccc;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }
    .map_wrap,
    .chat-container {
        width: 100%;
        max-width: 100%;
    }
}