<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="highfive.nowness.repository.RankBoardRepository">


    <select id="getRank" resultType="RankBoardDTO" parameterType="hashMap">
        SELECT contents.id, contents.user_id, users.nickname, contents.created_datetime,
        contents.views, contents.contents, contents.title,
        IFNULL((SELECT COUNT(*) FROM likes WHERE contents_id = contents.id), 0) AS like_count,
        IFNULL(MAX(CASE WHEN likes.user_id = #{userid} THEN 1 ELSE 0 END), 0) AS liked_by_me,
        (
            SELECT GROUP_CONCAT(tag SEPARATOR ' ')
            FROM tags
            WHERE contents.id = tags.contents_id

        ) AS tag
        FROM contents
        LEFT JOIN likes ON contents.id = likes.contents_id
        INNER JOIN users ON contents.user_id = users.id
        WHERE contents.blind = 0 AND contents.board_type = 1 AND contents.deleted = 0

        <if test='ST == "day"'>
            AND contents.created_datetime between date_add(now(), interval -1 day ) and now()
        </if>

        <if test='ST == "week"'>
            AND contents.created_datetime between date_add(now(), interval -1 week ) and now()
        </if>

        <if test='ST == "month"'>
            AND contents.created_datetime between date_add(now(), interval -1 month ) and now()
        </if>

        <if test='ST == "year"'>
            AND contents.created_datetime between date_add(now(), interval -1 year ) and now()
        </if>

        <if test='FL == "findlike"'>
            AND likes.user_id = #{userid}
        </if>

        <if test='SS == "nickname"'>
            AND users.nickname LIKE CONCAT('%', #{SW}, '%')
        </if>

        <if test='SS == "title"'>
            AND contents.title LIKE CONCAT('%', #{SW}, '%')
        </if>

        <if test='SS == "contents"'>
            AND contents.contents LIKE CONCAT('%', #{SW}, '%')
        </if>

        <if test='SS == "tag"'>
            AND (
            SELECT GROUP_CONCAT(tag SEPARATOR ' ')
            FROM tags
            WHERE contents.id = tags.contents_id
            ) LIKE CONCAT('%', #{SW}, '%')
        </if>

        GROUP BY contents.id

        <if test='SM == "likeCount"'>
            ORDER BY like_count desc;
        </if>

        <if test='SM == "viewCount"'>
            ORDER BY views desc;
        </if>

        <if test='SM == "fastCount"'>
            ORDER BY created_datetime desc;
        </if>
    </select>


    <select id="findLike" resultType="boolean">
        SELECT EXISTS (
            SELECT #{userId} FROM likes WHERE contents_id = #{contentsId} AND user_id = #{userId}
        ) AS exist
    </select>


    <update id="deleteOrInsertLike" parameterType="map">
        <choose>
            <when test="action == 'delete'">
                DELETE FROM likes
                WHERE contents_id = #{contentsId} AND user_id = #{userId}
            </when>
            <when test="action == 'insert'">
                INSERT INTO likes (contents_id, user_id)
                SELECT #{contentsId}, #{userId} FROM dual
                WHERE NOT EXISTS (
                SELECT 1 FROM likes WHERE contents_id = #{contentsId} AND user_id = #{userId}
                )
            </when>
        </choose>
    </update>

    <!--
    <insert id="addTest">
        insert into test (id, name) values (#{id}, #{name})
    </insert>

    <delete id="deleteTest">
        delete from test where id=#{id}
    </delete>
    -->

</mapper>
