<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">


    <!-- 게시글 등록 -->
    <insert id="addPost" parameterType="postDATA">
        INSERT INTO Contents (`user_id`, `contents`, `title`, `board_type`, `locale`, `subcategory`)
        VALUES (#{userId}, #{contents}, #{title}, #{boardType}, #{locale}, #{subcategory})
    </insert>

    <!-- 게시글 출력 -->
    <select id="getTotalPostsCount" resultType="int">
        SELECT COUNT(*) FROM Contents;
    </select>

    <!-- 게시물 목록 조회-->
    <select id="getPostsByPage" parameterType="map" resultType="reportDTO">
        SELECT * FROM Contents
        ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <!-- 게시글 상세 정보 조회 -->
    <select id="getPostById" parameterType="int" resultType="reportDTO">
        SELECT * FROM Contents WHERE id = #{postId};
    </select>

    <!-- 게시글 조회수 증가 -->
    <update id="increasePostViewCount" parameterType="int">
        UPDATE Contents SET views = views + 1 WHERE id = #{postId}
    </update>

    <!-- 게시글 검색 결과 수 가져오기 -->
    <select id="getTotalPostsCountByTitle" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM Contents WHERE title LIKE CONCAT('%', #{searchTitle}, '%');
    </select>

    <!-- 제목으로 게시글 검색 결과 가져오기 -->
    <select id="getPostsByTitleAndPage" parameterType="map" resultType="reportDTO">
        SELECT * FROM Contents
        WHERE title LIKE CONCAT('%', #{searchTitle}, '%')
        ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <!-- 제보요청카테고리만 게시물 목록 출력 -->
    <select id="getTotalPostsCountByBoardType" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM Contents WHERE board_type = #{boardType};
    </select>

    <select id="getPostsByBoardTypeAndPage" parameterType="map" resultType="reportDTO">
        SELECT * FROM Contents
        WHERE board_type = #{boardType}
        ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <!-- 제보요청카테고리만 검색 목록 출력 -->
    <select id="getTotalPostsCountByTitleAndBoardType" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM Contents WHERE title LIKE CONCAT('%', #{searchTitle}, '%') AND board_type = #{boardType};
    </select>

    <select id="getPostsByTitleAndBoardTypeAndPage" parameterType="map" resultType="reportDTO">
        SELECT * FROM Contents
        WHERE title LIKE CONCAT('%', #{searchTitle}, '%') AND board_type = #{boardType}
        ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <!-- 게시글 삭제 -->
    <delete id="deletePostById" parameterType="int">
        DELETE FROM Contents WHERE id = #{postId}
    </delete>

    <!-- 게시글 수정 -->
    <update id="updatePost" parameterType="reportDTO">
        UPDATE Contents
        SET board_type = #{boardtype},
            title = #{title},
            contents = #{contents}
        WHERE id = #{id}
    </update>

    <!-- 글 상세 정보 조회 시 해당 글의 태그 정보도 함께 조회 -->
    <select id="getTagsByContentsId" parameterType="int" resultType="tagsDTO">
        SELECT * FROM Tags WHERE contents_id = #{contentsId}
    </select>

</mapper>