<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="request"> <!--highfive.nowness.repository.TestRepository-->

    <resultMap id="repliesResultMap" type="RepliesDTO">
        <id property="id" column="id" />
        <result property="contents_id" column="contents_id" />
        <result property="user_id" column="user_id" />
        <result property="reply" column="reply" />
        <result property="created_datetime" column="created_datetime" />
        <result property="deleted" column="deleted" />
        <result property=" parent_id" column="parent_id" />
    </resultMap>


    <!--글 전체 DTO-->
    <select id="findAll" resultType="requestDTO">
        select * from contents
        where deleted=0
        order by id desc
    </select>

    <!--해당 번호 게시글 상세내용 DTO-->
    <select id="getBoard" resultType="requestDTO">
        SELECT
            *
        FROM contents where id= #{id}
                        AND deleted = 0
    </select>


    <!-- 게시글 전체 (개수) -->
    <select id="getTotalRequestCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM contents
        where deleted=0
    </select>


    <!-- 조회수 1증가 -->
    <update id="updateContentViews" parameterType="java.lang.Integer">
        UPDATE contents
        SET views = views + 1
        WHERE id = #{id}
    </update>


    <!--해당 게시글 닉네임 찾기 -->
    <select id="getNicknameById" parameterType="requestDTO" resultType="String">
        select users.nickname as id
        from users join contents
                        on contents.user_id = users.id
        where contents.id= #{id}
    </select>

    <!--리플쓴 유저id로  닉네임 찾기 -->
    <select id="getNickname" parameterType="requestDTO" resultType="String">
        select users.nickname as id
        from users join replies
                        on replies.user_id = users.id
        where replies.id= #{id}
    </select>




    <!--해당 게시글 좋아요 (총 개수)  -->
    <select id="getLikes" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM Likes
        where contents_id = #{id}
    </select>


    <!-- 게시글 삭제 deleted =1로. -->
    <update id="deleteContents" parameterType="java.lang.Integer">
        UPDATE contents
        SET deleted = 1
        WHERE id = #{id}
    </update>


    <!--카테고리계열  //미완 페이징 불완전. 아직 더 추가해야함.-->
    <!--보드타입으로 분류된 글 갯수-->
    <select id="getRequestsByBoardTypeCount" resultType="java.lang.Integer">
        SELECT count(*) FROM contents WHERE board_type = #{boardType}
                                        AND deleted = 0
    </select>

    <!--페이징 - '맵' 사용. DTO-->
    <select id="boardPagingList" resultType="requestDTO" parameterType="java.util.Map">
        SELECT * FROM contents WHERE board_type = #{boardType}
                                 AND  deleted=0
        ORDER BY id DESC LIMIT #{pageIndex}, #{pageSize}

    </select>

    <!--댓글 조회-->
    <select id="getReply" resultType="repliesDTO">
        SELECT * FROM replies
        WHERE contents_id = #{id}
          AND deleted=0
        order by parent_id asc
    </select>


    <!--    댓글등록-->
    <insert id="addReply" parameterType="replyDATA">
        INSERT INTO Replies (contents_id, user_id, reply)
        VALUES (#{contentsId}, #{userId}, #{reply})
    </insert>



    <!-- 댓글 삭제 deleted =1로. -->
    <update id="deleteReply" parameterType="java.lang.Integer">
        UPDATE replies
        SET deleted = 1
        WHERE id = #{replyId}
    </update>


    <!--    게시글 등록-->
    <insert id="addPost" parameterType="postDATA">
        INSERT INTO Contents (`user_id`, `contents`, `title`, `board_type`, `locale`, `subcategory`)
        VALUES (#{userId}, #{contents}, #{title}, #{boardType}, #{locale}, #{subcategory})
    </insert>


    <!--    게시글 수정등록 -->
    <insert id="updatePost" parameterType="postDATA">
        UPDATE Contents
        SET  `contents` =#{contents}, `title` = #{title}, `board_type` = #{boardType}, `locale` = #{locale}, `subcategory` = #{subcategory}, edit_datetime =now()
        WHERE `id` = #{id};
    </insert>

    <!--ajax테스트중-->
    <!--카테고리분류별 게시글가져오기 DTO //필요파라메터 지역, 섭카테고리-->
    <select id="categoryList" resultType="requestDTO">
        select * from contents
        where board_type=1
          and locale = #{locale}
          and subcategory =#{subcategory}
          and deleted=0
        order by id desc;
    </select>

    <!--맵사용 테스트용 카테고리-->
    <select id="categoryListMap" resultType="requestDTO" parameterType="java.util.Map">
        select * from contents
        where board_type=1
          and locale = #{locale}
          and subcategory =#{subcategory}
          and deleted=0
        order by id desc;
    </select>


    <!--맵사용 테스트용 카테고리 갯수-->
    <select id="categoryListMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from contents
        where board_type=1
          and locale = #{locale}
          and subcategory =#{subcategory}
          and deleted=0
    </select>



<!--&lt;!&ndash;    동적쿼리&ndash;&gt;-->
    <select id="categoryPagingList" resultType="requestDTO" parameterType="java.util.Map">
        SELECT * FROM contents
        where board_type=1

            <if test="#{locale} != null">
                and locale = #{locale}
            </if>
            <if test="#{subcategory} != null">
                and subcategory =#{subcategory}
            </if>
          and deleted=0
        ORDER BY id DESC LIMIT #{pageIndex}, #{pageSize}
    </select>



</mapper>

